<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <div class = "menu" style="display: flex; align-items: center;">
            <a href="/"><img src="/static/images/insta-logo.png" alt="logo" style="width: 125px;"></a>
            <span style="flex-grow: 1;"></span>
            <span style="padding: 10px 30px;">
                <a href="/explore/" style="text-decoration: none; padding: 10px; font-size: 20px; color: black;"><b>Explore</b></a>
                <span style="font-size: 20px;">|</span>
                <a href="/users/{{logname}}/" style="text-decoration: none; padding: 10px; font-size: 20px; color: black;"><b>{{logname}}</b></a>
            </span>
        </div>
        <hr>
        <div class="following">
            <br>
            <b>Following</b>
            <br>
            {% for f in following %}
                <img src="/uploads/{{f.user_img_url}}" alt="icon">
                <a href="/users/{{f.username}}/">{{f.username}}</a>
                {% if logname == f.username %}
                {% elif f.logname_follows_username %} <p>following</p>
                    <form action="/following/?target=/users/{{username}}/following/" method="post" enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{f.username}}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                {% else %} <p>not following</p>
                    <form action="/following/?target=/users/{{username}}/following" method="post" enctype="multipart/form-data">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{f.username}}"/>
                        <input type="hidden" name="operation" value="follow"/>
                    </form>
                {% endif %}
                <br>
            {% endfor %}
        </div>
    </body>
</html>