<!DOCTYPE html>
<html lang="en">
<body>
  <div style="display: flex;">
    <img src="/static/images/insta-logo.png" alt="logo" style="width: 10%;">
    <h1>Login</h1>
  </div>
  <br>
  <!-- <form action="<FIXME_ACCOUNTS_URL_HERE>?target=<FIXME_INDEX_URL_HERE>" method="post" enctype="multipart/form-data"></form> -->
  <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
    <input type="text" name="username" required/>
    <input type="password" name="password" required/>
    <input type="submit" value="login"/>
    <input type="hidden" name="operation" value="login"/>
  </form> 
  <br>

  <p>Don't have an account? <b><a href="{{url_for('show_create')}}">Sign up</a></b></p>

</body>
</html>